{% extends 'base.html.twig' %}

{% block body %}

<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .wrapper h1{
        text-align:center;
    }
    .field-form  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .field-form input{
        border: none;
        border-bottom: 1px solid;
        padding: 1em;
    }
    .submit{
        margin-top:15px;
    }
</style>

<div class="wrapper">
    <h1>Espace gestionnaire</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" >
        <div class="field-form">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password">
            <button class="submit" type="submit">Connexion</button>
        </div>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

    </form>
</div>

{% endblock %}